/* starts of faq page jumbotron */
.jumbotron-about {
  background-image: url(../../images/about-page-banner.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 0;
}
/* endss of faq page jumbotron */

.about-para {
  color: #6d6d6d;
}
