/* starts of faq page jumbotron */
.jumbotron-career {
  background-image: url(../../images/career-page-banner.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 0;
}
/* endss of faq page jumbotron */
