.remove-btn {
  color: #de8a8a;
}

.remove-btn:hover {
  color: #c71717;
}

.column-image {
  min-width: 120px;
}

.column-name {
  min-width: 200px;
}

.column-color {
  min-width: 120px;
}

.column-price {
  min-width: 120px;
}

.column-qty {
  min-width: 120px;
  text-align: center;
}

.column-subtotal {
  min-width: 130px;
  text-align: right;
}

.total {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
}

.continue-shopping-btn {
  display: block;
  float: left;
  border: 2px solid grey;
  padding: 7px 15px;
  color: #635f5f;
  font-weight: 500;
  text-align: center;
}

.continue-shopping-btn:hover {
  text-decoration: none;
  color: #635f5f;
}

@media (max-width: 575px) {
  .continue-shopping-btn {
    display: block;
    float: unset;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
}
