.delivery-info .form-group input:focus,
.delivery-info .form-group select:focus {
  border: 1.5px grey solid;
  box-shadow: none;
  outline: 0;
}

.delivery-info .form-group {
  width: unset;
}

.delivery-info label {
  font-weight: 500;
}

.checkout-headings {
  font-size: 22px;
}

.point-styles {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  border: 2px solid grey;
}

.completed-task {
  font-size: 22px;
  color: green;
}

.delivery-info #title {
  width: 75px;
}

.delivery-info .name {
  width: 367px;
  margin-left: 15px;
}

.delivery-info .address-option {
  width: 100%;
}

.delivery-info .phone-city-location-type {
  width: 200px;
}

.delivery-info .extra-info {
  font-size: 14px;
  margin-bottom: 0;
}

.btn-pay {
  background: #28a745;
  color: #fff;
  padding: 7px 20px;
  border: 0;
}

@media (max-width: 480px) {
  .delivery-info .name {
    width: 100%;
    margin-left: 0;
  }
}
