/* starts of faq page jumbotron */
.jumbotron-contact {
  background-image: url(../../images/contact-page-banner.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 0;
}
/* endss of faq page jumbotron */

.opening-days-hours-sec ul li {
  list-style: none;
}

.opening-days-hours {
  line-height: 28px;
  font-size: 16px;
  font-weight: 700;
  color: #353535;
}

.contact-details {
  line-height: 28px;
  font-size: 16px;
  color: #6d6d6d;
}

.opening-days-hours-first-para {
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
}

.form-control:focus {
  box-shadow: none;
  outline: 0;
  border: 1.5px grey solid;
}

.submit-contact {
  background-color: #ee3b3b;
  color: #fff;
  width: 100%;
}
