@media (max-width: 992px) {
  .container {
    max-width: 95%;
  }
}

/* start detail product */
.product-detail-sec {
  padding: 25px;
}

.detail-main-img {
  width: 100%;
  margin-bottom: 3px;
}

.detail-thumb-img {
  width: 23%;
  margin: 1%;
}

.detail-thumb-img:hover {
  cursor: pointer;
}

.product-detail-name {
  color: #302d3c;
}

.rating-stars-detail .fa-star {
  font-size: 20px;
  color: #d0a50b;
}

.detail-product-price {
  color: #423c59;
}

.add-to-wishlist-btn {
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  color: #423c59;
  border: 1px solid #423c59;
  text-align: center;
  padding: 6px 10px;
  cursor: pointer;
}

.fontSize {
  font-size: 11px;
}

.description-table {
  font-size: 15px;
  font-weight: 500;
  color: #353535;
}

.delivery-features {
  color: #034612;
  font-weight: 600;
}

.social-media-share {
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 575px) {
  .product-detail-image-sec {
    padding: 0;
  }

  .bzoom_wrap {
    margin: auto;
  }

  .product-detail-sec {
    padding: 15px;
    /*min-height: 500px;*/
  }

  .product-detail-name {
    font-size: 27px;
  }
}
@media (min-width: 321px) and (max-width: 380px) {
}
@media (min-width: 381px) and (max-width: 480px) {
}
@media (min-width: 481px) and (max-width: 575px) {
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 992px) {
  .container {
    max-width: 95%;
  }
}
@media (min-width: 993px) and (max-width: 1224px) {
}
@media (min-width: 1225px) and (max-width: 1439px) {
}
@media (min-width: 1440px) {
}
/* end detail product */

/* start product description*/
.description {
  padding: 30px 0 40px 0;
}

.product-features tbody tr {
  height: 28px;
}

.desc-images-sec {
  margin: 35px 45px 0 35px;
}

.product-images {
  width: 100%;
  padding: 0 2px;
}

@media (max-width: 767px) {
  .desc-images-sec {
    margin: 35px 0 0 0;
  }
}
/* end product description */

/* start related product */
.related-product-hr {
  border-style: solid;
  border-width: 1px;
  border-color: #e05656;
  margin: auto;
}

.related-product-sec .product {
  width: 15%;
}

.related-product-main-image {
  height: 49%;
  width: 100%;
}

@media (max-width: 380px) {
  .related-product-sec .product {
    width: 50%;
    margin: 2% 1%;
  }

  .related-product-main-image {
    height: 55%;
  }
}

@media (min-width: 381px) and (max-width: 575px) {
  .related-product-sec .product {
    width: 47%;
    margin: 2% 1%;
  }

  .related-product-main-image {
    height: 55%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .related-product-sec .product {
    width: 31%;
    margin: 2% 1%;
  }

  .related-product-main-image {
    height: 54%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .related-product-sec .product {
    width: 31%;
    margin: 2% 1%;
  }

  .related-product-main-image {
    height: 52%;
  }
}

@media (min-width: 993px) and (max-width: 1224px) {
  .related-product-sec .product {
    width: 18%;
    margin: 2% 1%;
  }

  .related-product-sec .product:nth-child(6) {
    display: none;
  }

  .related-product-main-image {
    height: 52%;
  }
}

@media (min-width: 1225px) and (max-width: 1439px) {
  .related-product-sec .product {
    width: 18%;
    margin: 2% 1%;
  }

  .related-product-sec .product:nth-child(6) {
    display: none;
  }

  .related-product-main-image {
    height: 52%;
  }
}
@media (min-width: 1440px) {
  .related-product-comments {
    margin-left: 60%;
  }
}
/* end related product */

/* starts of review product */
.review-img-col {
  width: 50px;
}

.reviwer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-desc-col {
  width: 90%;
}

.reviwer-name {
  color: #000;
  font-weight: 600;
  margin-bottom: -5px;
  text-transform: capitalize;
}

.reviwe-date {
  color: #707070;
  font-weight: 400;
  font-size: 12px;
}

.review {
  font-size: 14px;
}

.avgrating .fa-star {
  font-size: 17px;
  color: #d0a50b;
}

.rate-starts .fa-star {
  font-size: 13px;
  color: #d0a50b;
}

.rate-starts-input .fa-star {
  font-size: 25px;
  color: #d0a50b;
}

.review-input {
  width: 629px;
  height: 80px;
}

.review-input:focus {
  border: 1.5px rgb(92, 92, 92) solid;
  outline: 0;
  padding: 5px 10px;
}

/* ends of review product */
