/* starts of faq page jumbotron */
.jumbotron-faq {
  background-image: url(../../images/faq-page-banner.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 0;
}
/* endss of faq page jumbotron */

.faq .accordion,
.faq .accordion:hover {
  background: unset;
}

.faq .accordion .card-header:after {
  font-family: "fontAwesome";
  content: "-";
  float: right;
}

.faq .accordion .collapsed:after {
  content: "+";
}

.faq .card-header {
  cursor: pointer;
}

.faq .card-title {
  font-size: 15px;
  font-weight: 600;
  color: #353535;
}

.faq .card-body ul li {
  font-size: 14px;
}
