.footer-sec {
  background-size: cover;
  width: 100%;
  border-radius: 0;
  background: #332f44;
}

.footer-sec table {
  color: #d3d3d3;
}

.footer {
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  height: auto;
}

.footer-sub-heading {
  color: #fff;
}

.footer a {
  color: #d3d3d3;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 500;
}

.follow-us {
  font-size: 30px;
}

.follow-us:hover {
  color: #6188e2;
}
