@media (max-width: 992px) {
  .container {
    max-width: 95%;
  }
}

/* starts of  home page jumbotron */
.jumbotron-home {
  background-image: url(../../images/home.jpg);
  background-size: cover;
  width: 100%;
}

.jumbotron-home .jumbotron-sec {
  width: 500px;
  margin-left: 53%;
}

.jumbotron-home .home-page-heading {
  line-height: 35px;
}

.jumbotron-home .page-subheading {
  color: #545454;
  font-size: 20px;
}

.jumbotron-home .shop-now-btn {
  margin-top: 25px;
  width: 120px;
}

@media (min-width: 576px) {
  .jumbotron-home {
    padding: 25px;
  }
}

@media (min-width: 993px) {
  .jumbotron-home {
    min-height: 300px;
  }
}

@media (max-width: 992px) {
  .jumbotron-home {
    background-image: url(../../images/home-mobile.jpg);
    background-size: cover;
    width: 100%;
    max-height: 350px;
  }

  .jumbotron-home .jumbotron-sec {
    width: unset;
    margin-left: unset;
    top: unset;
  }

  .jumbotron-home .home-page-heading {
    color: #fff;
    font-size: 30px;
    text-align: center;
  }

  .jumbotron-home .page-subheading {
    color: #ccc;
    text-align: center;
  }

  .jumbotron-home .shop-now-btn {
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 120px;
  }
}

@media (min-width: 993px) and (max-width: 1224px) {
  .jumbotron-home .jumbotron-sec {
    width: 300px;
    margin-left: 60%;
  }
}
/* ends of home page jumbotron */

.secont-color {
  color: #401430;
}

.home-page-products .product {
  width: 18%;
}

@media (max-width: 355px) {
  .other-sec {
    width: 100% !important;
  }

  .advertisement-sec {
    width: 90% !important;
    margin: auto;
    margin-top: 20px;
  }

  .home-page-products .product:nth-child(3),
  .home-page-products .product:nth-child(4),
  .home-page-products .product:nth-child(5) {
    display: none;
  }

  .home-page-products .product {
    width: 96%;
  }
}

@media (min-width: 356px) and (max-width: 480px) {
  .other-sec {
    width: 100% !important;
  }

  .advertisement-sec {
    width: 90% !important;
    margin: auto;
    margin-top: 20px;
  }

  .home-page-products .product:nth-child(3),
  .home-page-products .product:nth-child(4),
  .home-page-products .product:nth-child(5) {
    display: none;
  }

  .home-page-products .product {
    width: 46%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .other-sec {
    width: 70% !important;
  }

  .advertisement-sec {
    width: 30% !important;
  }

  .home-page-products .product:nth-child(3),
  .home-page-products .product:nth-child(4),
  .home-page-products .product:nth-child(5) {
    display: none;
  }

  .home-page-products .product {
    width: 46%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .other-sec {
    width: 70% !important;
  }

  .advertisement-sec {
    width: 30% !important;
  }

  .home-page-products .product:nth-child(4),
  .home-page-products .product:nth-child(5) {
    display: none;
  }

  .home-page-products .product {
    width: 31%;
  }
}

@media (min-width: 993px) and (max-width: 1305px) {
  .home-page-products .product:last-child {
    display: none;
  }

  .home-page-products .product {
    width: 23%;
  }
}

/* .card:hover {
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.61);
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.61);
} */

/* .card:hover .title-sec {
  background-color: #404040;
} */

/* .home-page-products .product-image {
  height: 235px;
} */

/* .home-page-products .thumb-images {
  display: block;
  float: left;
  width: 25%;
} */

/* start category and fabric */
/* .category-fabric-images {
  width: 158px;
}

.title-sec {
  background-color: gray;
  height: 40px;
}

.title-sec:hover {
  background-color: #404040;
}

.title-link {
  text-decoration: none;
}

.card-title {
  color: #fff;
  font-size: 13px;
} */
/* end category and fabric */

/* start related product */
/* .related-product-category {
  height: 25px;
  font-size: 13px;
}

.related-product-name {
  height: 50px;
  font-size: 14px;
}

.related-product-price {
  height: 25px;
  font-size: 13px;
}

.related-product-likes {
  margin-right: 1px;
  width: 12px !important;
  float: left;
}

.related-product-counts {
  font-size: 9px;
  margin-top: -5px;
  padding-left: 1px;
}

.related-product-comments {
  font-size: 10px;
  margin-left: 75px;
}

.product-cart-btn {
  background: #fff;
  color: gray;
  border: 0;
}

.product-wishlist-btn {
  float: right;
  background: #fff;
  color: gray;
  border: 0;
}

.product-cart-btn:hover,
.product-wishlist-btn:hover {
  color: #dc3545;
}

.product-cart-btn:focus,
.product-wishlist-btn:focus {
  border: 0;
}

.carousel-control-prev-icon {
  margin-left: -275px;
  height: 30px;
}

.carousel-control-next-icon {
  margin-right: -275px;
  height: 30px;
}

@media (max-width: 480px) {
  .related-product-comments {
    margin-left: 62%;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .related-product-comments {
    margin-left: 54%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .related-product-comments {
    margin-left: 65%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .related-product-comments {
    margin-left: 58%;
  }
}

@media (min-width: 993px) and (max-width: 1224px) {
  .related-product-comments {
    margin-left: 70%;
  }
}
@media (min-width: 1225px) and (max-width: 1439px) {
  .related-product-comments {
    margin-left: 70%;
  }
}

@media (min-width: 1440px) {
  .related-product-comments {
    margin-left: 60%;
  }
} */
/* end related product */

/* starts of testimonial */
.testimonial-sec {
  background: #401430;
}

.testimonial-sec h5 {
  color: #fff;
}

.testimonial-ratings .fa-star {
  font-size: 14px;
  color: #d0a50b;
  margin-right: 2px;
}

.testimonial-sec p {
  color: #bbbbbb;
}

.testimonial-img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
/* ends of testimonial */

.other-sec {
  float: left;
  width: 75%;
}

.advertisement-sec {
  float: left;
  width: 25%;
}

.advertisement-component {
  border-left: 5px solid #401b33;
  border-right: 5px solid #401b33;
}

.advertisement-component-heading {
  background: #401b33;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.advertisement-component-para {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.cash-on-delivery-img {
  display: block;
  margin: auto;
  width: 85%;
}

.second-color {
  color: #423c59;
}

.faq-color {
  color: #8379ad;
}
/* 
.product-thumbmails {
  display: none;
}

.user-actions {
  display: none;
} */
