/* starts of top nav bar */
.nav-top {
  background: #423c59;
  padding: 7px 5px;
  height: 45px;
}

.nav-top ul {
  padding-left: 0;
  font-size: 14px;
}

.nav-top ul li {
  float: right;
  display: block;
  list-style: none;
  margin-right: 20px;
}

.nav-top ul li a {
  text-align: center;
  color: #ccc;
  text-decoration: none;
}

.nav-top .dropdown-menu {
  font-size: 14px;
}

@media (max-width: 320px) {
  .nav-top ul li {
    /* float: unset; */
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 321px) and (max-width: 576px) {
  .nav-top ul {
    width: 309px;
    margin: auto;
  }

  .nav-top ul li {
    /* float: unset; */
    margin-right: 5px;
    margin-left: 5px;
  }
}
/* ends of top nav bar */

/* starts of middle nav bar */

.navbar-middle ul li .nav-link {
  margin-top: 6px;
  color: #423c59 !important;
}

.navbar-middle ul li .nav-link:hover {
  font-weight: 500;
}

.shopping-cart .nav-item {
  width: 100px;
}

.shopping-cart .col1 {
  margin-right: 10px;
}

.cart {
  width: 47px;
  margin-top: -7px;
}

.cart-badge {
  display: block;
  background: #401b33;
  border-radius: 50%;
  color: #f5f0f0;
  margin: -58px 0 0 31px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 14px !important;
  font-weight: 700;
  text-align: center;
  padding: 4px !important;
}

@media (max-width: 767px) {
  .cart {
    width: 37px;
    margin-top: 4px;
  }

  .cart-badge {
    margin: -50px 0 0 29px !important;
  }

  .navbar-middle {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .cart {
    width: 40px;
    margin-top: -25px;
  }

  .cart-badge {
    margin: -54px 0 0 29px !important;
  }
}

/* ends of middle nav bar */

/* starts of bottom nav bar */
.navbar-bottom ul li a {
  text-align: center;
}

.shopping-cart-mobile {
  display: none;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  padding-top: 7px;
}

.wishlist-mobile {
  margin-left: auto;
}

.search-area {
  margin: auto;
  width: 600px;
  padding-top: 50px;
}

.search-input {
  color: #000;
  width: 500px;
  height: 40px;
  padding-left: 5px;
  border: 0;
  background: #ffffff82;
}

.search-input:focus {
  outline: 0;
}

.search-btn {
  height: 40px;
  background: #676767;
  border: 0;
  padding: 5px 10px;
  color: #fff;
}

.search-btn:hover {
  background: #222222;
}

@media (max-width: 768px) {
  .shopping-cart-mobile {
    display: block;
    margin-right: 35px;
  }
}

@media (min-width: 768px) {
  .navbar-bottom {
    display: none;
  }
}

@media (max-width: 650px) {
  .search-area {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
}
/* ends of bottom nav bar */

/* starts of breadcrumb  */
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb-item-text-bold {
  color: #422c2f;
  font-weight: 500;
  text-decoration: none;
}

.breadcrumb-item-text-bold:hover {
  color: inherit;
  text-decoration: none;
}
/* ends of breadcrumb  */
