.form-group {
  width: 400px;
}

.form-group label {
  color: #696969;
  font-weight: 600;
}

.input-guidance {
  font-size: 14px;
  color: #8c8c8c;
}

p {
  color: #696969;
}

.btn-register {
  display: block;
  background: #423c59;
  padding: 7px 15px;
  color: #fff;
  text-align: center;
  border: 0;
}

.btn-register:hover {
  color: #fff;
  text-decoration: none;
}

/* starts of error fields */
.form-control.is-invalid {
  background-image: unset;
}

.form-control.is-invalid:focus {
  box-shadow: none;
  /* outline: 0; */
}
/* ends of errors fields */

@media (max-width: 576px) {
  .form-group {
    width: 100%;
  }
}
