/* starts of advanced filter */
.form-row select:focus {
  border: 1.5px grey solid;
  box-shadow: none;
  outline: 0;
}

.filter-category-col,
.filter-fabric-col,
.filter-occasion-col,
.filter-price-col,
.filter-color-col {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 15px;
}

.filter-category-col label,
.filter-fabric-col label,
.filter-occasion-col label,
.filter-price-col label,
.filter-color-col label {
  font-weight: 600;
  margin-left: 2px;
}

.filter-category-col .form-control,
.filter-fabric-col .form-control,
.filter-occasion-col .form-control,
.filter-price-col .form-control,
.filter-color-col .form-control {
  cursor: pointer;
}

.filter-category-col {
  width: 19%;
}

.filter-fabric-col {
  width: 19%;
}

.filter-occasion-col {
  width: 19%;
}

.filter-price-col {
  width: 19%;
}

.filter-color-col {
  width: 19%;
}

.btn-filter {
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
  background: #423c59;
  color: #fff;
  padding: 7px 20px;
}

.product-filter-ratings .fa-star {
  font-size: 15px;
  color: #d0a50b;
  margin-right: 3px;
}

@media (max-width: 575px) {
  .filter-category-col,
  .filter-fabric-col,
  .filter-occasion-col,
  .filter-price-col,
  .filter-color-col {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .filter-category-col,
  .filter-fabric-col,
  .filter-occasion-col,
  .filter-price-col,
  .filter-color-col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .filter-category-col {
    width: 48%;
  }

  .filter-fabric-col {
    width: 48%;
  }

  .filter-occasion-col {
    width: 48%;
  }

  .filter-price-col {
    width: 48%;
  }

  .filter-color-col {
    width: 48%;
  }
}

@media (min-width: 768px) and (max-width: 1224px) {
  .filter-category-col,
  .filter-fabric-col,
  .filter-occasion-col,
  .filter-price-col,
  .filter-color-col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .filter-category-col {
    width: 32%;
  }

  .filter-fabric-col {
    width: 31%;
  }

  .filter-occasion-col {
    width: 31%;
  }

  .filter-price-col {
    width: 32%;
  }

  .filter-color-col {
    width: 31%;
  }
}
/* ends of advanced filter */

.shop-container {
  width: 90%;
  margin: auto;
}

.list-group-item {
  line-height: 16px;
  padding: 8px;
  border-width: 0px;
  padding-left: 0 !important;
}

.list-group a {
  color: #9b9b9b;
}

button:focus {
  outline: 0;
}

.product {
  display: inline-block;
}

.card:hover {
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.61);
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.61);
}

.view-details-btn,
.add-to-cart-btn,
.product-wishlist-btn {
  display: none;
}

.card:hover .view-details-btn,
.card:hover .add-to-cart-btn {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  width: 80%;
  background: #0000002b;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
}

.card:hover .view-details-btn {
  top: 125px;
}

.card:hover .add-to-cart-btn {
  top: 165px;
}

.card:hover .view-details-btn:hover,
.card:hover .add-to-cart-btn:hover {
  background: #00000065;
}

.card:hover .product-wishlist-btn {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  color: gray;
  border: 0;
}

.product-image {
  width: 100%;
}

.thumb-images {
  display: block;
  float: left;
  width: 25%;
  padding: 0 1%;
}

.thumb-images:hover {
  cursor: pointer;
}

.product-body {
  height: 160px;
  cursor: default;
}

.shop-filter-heading {
  color: #401430;
}

.category {
  height: 25px;
  font-size: 14px;
  margin-bottom: -5px;
  color: #401b33;
}

.product-name {
  height: 50px;
  font-size: 14px;
  color: #423c59;
  font-weight: 700;
}

.product-card-ratings .fa-star {
  font-size: 10px;
  color: #d0a50b;
}

.product-price {
  display: block;
  height: 25px;
  font-size: 14px;
  font-weight: 700;
}

.product-dis-price {
  display: block;
  font-size: 11px;
  margin-top: -4px;
  font-weight: 700;
  color: #9e535a;
}

.like-images {
  width: 14px;
  height: 14px;
  margin: -7px 0 0 0;
  cursor: pointer;
}

.like-counts {
  font-size: 9px;
  margin-top: -6px;
}

.comment {
  position: absolute;
  right: 5px;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
}

.product-wishlist-btn:hover {
  color: #dc3545;
}

.like-images-action {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.like-action {
  display: block;
  width: 50px;
  padding-left: 7px;
  font-size: 12px;
  cursor: pointer;
}

.like-action:hover {
  color: #558dfd !important;
}

.comment-action {
  display: block;
  float: right;
  font-size: 12px;
  cursor: pointer;
}

/* .shop-side-bar .dropdown-divider {
  border-top: 1px solid #401430;
} */

@media (max-width: 650px) {
  .shop-container {
    width: 100%;
  }

  .shop-side-bar {
    width: 90%;
    margin: auto;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .product {
    width: 47%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 57%;
  } */
}

@media (min-width: 321px) and (max-width: 380px) {
  .product {
    width: 47%;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 57%;
  } */
}

@media (min-width: 381px) and (max-width: 480px) {
  .product {
    width: 44%;
    margin-left: 4%;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 62%;
  } */
}
@media (min-width: 481px) and (max-width: 575px) {
  .product {
    width: 44%;
    margin-left: 4%;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 68%;
  } */
}

@media (min-width: 576px) and (max-width: 767px) {
  .shop-container {
    width: 95%;
  }

  .shop-side-bar {
    width: 35%;
    margin: unset;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 65%;
  }

  .product-image {
    height: 70%;
  }
}

@media (min-width: 576px) and (max-width: 656px) {
  .product {
    width: 46%;
    margin-left: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* .comment {
    margin-left: 60%;
  } */
}

@media (min-width: 657px) and (max-width: 767px) {
  .product {
    width: 47%;
    margin-left: 3%;
    margin-top: 10px;
  }

  /* .comment {
    margin-left: 64%;
  } */
}

@media (min-width: 768px) and (max-width: 992px) {
  .shop-container {
    width: 95%;
  }

  .shop-side-bar {
    width: 30%;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 70%;
  }

  .product {
    width: 31%;
    margin-left: 2%;
    margin-top: 10px;
  }

  .product-image {
    height: 70%;
  }
}

@media (min-width: 768px) and (max-width: 875px) {
  .product {
    width: 31%;
    margin-left: 2%;
    margin-top: 10px;
  }

  /* .comment {
    margin-left: 60%;
  } */
}

@media (min-width: 876px) and (max-width: 992px) {
  .product {
    width: 23%;
    margin-left: 2%;
    margin-top: 13px;
  }

  /* .comment {
    margin-left: 55%;
  } */
}

@media (min-width: 993px) and (max-width: 1224px) {
  .shop-container {
    width: 95%;
  }

  .shop-side-bar {
    width: 25%;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 75%;
  }

  .product {
    width: 23%;
    margin-left: 2%;
    margin-top: 17px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 61%;
  } */
}
@media (min-width: 1225px) and (max-width: 1439px) {
  .shop-container {
    width: 85%;
  }

  .shop-side-bar {
    width: 25%;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 75%;
  }

  .product {
    width: 18%;
    margin-left: 2%;
    margin-top: 15px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 51%;
  } */
}

@media (min-width: 1440px) and (max-width: 1700px) {
  .shop-container {
    width: 85%;
  }

  .shop-side-bar {
    width: 25%;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 75%;
  }

  .product {
    width: 18%;
    margin-left: 2%;
    margin-top: 18px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 61%;
  } */
}

@media (min-width: 1701px) {
  .shop-container {
    width: 80%;
  }

  .shop-side-bar {
    width: 17%;
  }

  .shop-side-bar h5 {
    font-size: 18px;
  }

  .shop-content {
    width: 83%;
  }

  .product {
    width: 15%;
    margin-left: 1.5%;
    margin-top: 20px;
  }

  .product-image {
    height: 70%;
  }

  /* .comment {
    margin-left: 61%;
  } */
}

/* starts of comment */
.comment-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* ends of comment */

/* starts of comment */
.comment-img-col {
  width: 50px;
}

.comment-desc-col {
  width: 82%;
}

.comment-input {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
}

.comment-input:focus {
  border: 1.5px rgb(92, 92, 92) solid;
  outline: 0;
}

@media (min-width: 381px) and (max-width: 399px) {
  .comment-desc-col {
    width: 81%;
  }
}

@media (min-width: 400px) {
  .comment-desc-col {
    width: 87%;
  }
}
/* ends of comment */

/* starts of pagination*/
.shop-pagination {
  float: right;
}

.shop-pagination ul li button {
  background: #fff;
  color: #423c59;
  border-color: #423c59;
}

.shop-pagination ul li button:hover {
  background: #423c59;
  color: #fff;
}

.shop-pagination ul li button:focus {
  box-shadow: none;
}
/* ends of pagination*/
