.side-bar {
  width: 25%;
  background: #423c59;
}

.sidebar-link {
  background: #332f44;
  color: #fff !important;
  margin-bottom: 0;
  padding: 10px 20px;
  font-size: 15px;
}

.sidebar-link:hover {
  background: #292635;
  text-decoration: none;
}

.update-profile {
  width: 70%;
}

.profile-content {
  width: 75%;
}

.profile-content h5 {
  background: #7e778c;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}

.accordion {
  background-color: #6b6b6b;
  cursor: pointer;
}

.accordion a {
  font-size: 14px;
  text-decoration: none;
}

.accordion:hover {
  background-color: #000;
}

.profile-table {
  width: 95%;
  margin: auto;
}

.profile-table tr {
  height: 50px;
}

.profile-table td:nth-child(odd) {
  width: 150px;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  .side-bar {
    width: 100%;
  }

  .profile-content {
    width: 100%;
  }

  .profile-table {
    width: 90%;
    margin: auto;
  }

  .profile-table td:nth-child(odd) {
    width: 120px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 100% !important;
  }

  .side-bar {
    width: 26%;
  }

  .update-profile {
    width: 90%;
  }

  .profile-content {
    width: 74%;
  }

  .profile-table td:nth-child(odd) {
    width: 115px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100% !important;
  }
}
