.page-heading {
  font-size: 23px;
  color: gary;
  font-weight: 600;
}

.form-group {
  width: 400px;
}

.form-group label {
  color: #696969;
}

.form-group input:focus {
  border: 1.5px grey solid;
  box-shadow: none;
  outline: 0;
}

p {
  color: #696969;
}

@media (max-width: 576px) {
  .form-group {
    width: 100%;
  }
}
